<br><br>
<div class="row address text-left">
    <div class="twelve columns">
        <strong> Created by <a href="mailto:cindrinc@gmail.com" target="_blank"> Bharddwaj Vemulapalli, Ishan Arya, Tarun Boddupalli </a></strong>
        <br>Cindr&trade;</br>
        Edison, NJ
    </div>
    <div class="twelve columns">
        Consider <a class="button-link" href="https://cash.me/$tarunbod">donating</a> if you like the website! It helps keep us running.
    </div>
</div>