<!DOCTYPE html>
<html>
	<head>
		<title>Change password!</title>
		<% include partials/minor %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/sha256.js"></script>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Enter new password</h1>
			<form method="POST" action="/api/changepassword" id="form_password">
			    <input type="hidden" name="token" class="token" value="<%= token %>">
			    <div class="row">
			        <div class="four columns">
			            <label>Password Change</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="six columns passfield">
			            <input type="password" id="password1" class="" placeholder="New password">
			        </div>
			    </div>
			    <div class="row">
			        <div class="six columns">
			            <input type="password" id="password2" class="" placeholder="Confirm password">
			        </div>
			    </div>
				<input type="hidden" id="hashedPassword" name="password">
				<button onclick="hashPassword();">Change password</button>
			</form>
		</div>
		<script type="text/javascript">
			function hashPassword() {
				var hashed = forge_sha256($("#password1").val());
				$("#hashedPassword").val(hashed);
				document.forms["form_password"].submit();
			}
		</script>
	</body>
</html>