<!DOCTYPE html>
<html>
	<head>
		<title>Change password!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Enter new password</h1>
			<form method="POST" action="/api/changepassword" id="form_password">
			    <input type="hidden" name="token" class="token" value="<%= token %>">
			    <div class="row">
			        <div class="four columns">
			            <label>Password Change</label>
			        </div>
			    </div>
			    <div class="row">
			        <div class="six columns passfield">
			            <input type="password" id="password1" class="" name="password" placeholder="New password">
			        </div>
			    </div>
			    <div class="row">
			        <div class="six columns">
			            <input type="password" id="password2" class="" placeholder="Confirm password">
			        </div>
			    </div>
			    <button>Change password</button>
			</form>
		</div>
	</body>
</html>