<!DOCTYPE html>
<html>
	<head>
		<title>Contact</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Having Problems?</h1>
            <h5 style="text-align: center;">You can contact any one of the following website administrators:</h5>
			<div class="row">
                <div class="four columns offset-by-four" style="text-align: left;">
                    <ul>
                        <li><a href="mailto:ishan.arya13@gmail.com">Ishan Arya</a></li>
                        <li><a href="mailto:bharddwajvemulapalli@gmail.com">Bharddwaj Vemulapalli</a></li>
                        <li><a href="mailto:tarunbod@gmail.com">Tarun Boddupalli</a></li>
                    </ul>
                </div>
            </div>
            <h5 style="text-align: center;">Shoot us an email detailing your problem, and we'll try to fix it ASAP.</h5>
            <hr style="width: 80%">
            <h3 style="text-align: center;" class="red">Known problems:</h3>
            <div class="row red">
                <div class="seven columns offset-by-three" style="text-align: left;">
                    <ul>
                        <li>Login not working in incognito mode on iPhone or iPad</li>
                    </ul>
                </div>
            </div>
		</div>
	</body>
</html>
