<!DOCTYPE html>
<html>
	<head>
		<title>Forgot my password!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Recover your password</h1>
			<form method="GET" action="/api/forgotpassword" id="form_forgotpassword">
			    <div class="row">
			        <div class="four-columns offset-by-four">
			            <label>Enter you email</label>
			            <input type="email" name="email" placeholder="Email" value="">
			            <br>
			            <br>
			            <button>Send recovery email</button>
			        </div>
			    </div>
			</form>
		</div>
	</body>
</html>