<!DOCTYPE html>
<html>
	<head>
		<title>Password changed!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<form>
				
			</form>
		</div>
	</body>
</html>