<!DOCTYPE html>
<html lang="en">

	<head>
	    <title> IsThatGuyInMyClass™ </title>	    
	    <% include partials/style %>
	    <link rel="stylesheet" href="/css/index.css">
	</head>

	<body>
		<% include partials/main_nav %>

		<div class="container home">
		    <br>
		    <div class="row" id="main_bg">
				<div class="five columns">
					<img class="logo" src="/imgs/logo/logo_transparent.png">
				</div>
		        <div class="seven columns u-pull-right">
		            <h1 class="title">Is that guy in your class?</h1>
		            <hr>
		            <h3 class="subtitle">Wouldn't you like to know?</h3>
		        </div>
		    </div>
			<br>
			<div class="row">
				<div class="twelve columns justify">
					<p>IsThatGuyInMyClass™ is a website that was created to help you find out which of your friends you have classes with this year. The way it works is through 3 steps: You create an account on this website; Input your schedule once it's available on Genesis; and spread the word and get your friends to do the same. Our website goes through the list of all students who have created an account and shows you a list of all other students that you share classes with. To get started, create an account (or sign in if you have one already) below.</p>
				</div>
			</div>
		    <div class="row">
		        <div class="four columns offset-by-four">
		            <a href="/register" class="button">Sign Up</a>
		            <a href="/login" class="button">Login</a>
		        </div>
		    </div>
			<% include partials/footer %>
		</div>
	</body>

</html>