<!DOCTYPE html>
<html>
	<head>
		<title>Name changed!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Your name has been changed!</h1>
			<h3>Please alert the proper authorities.</h3>
		</div>
	</body>
</html>