<!DOCTYPE html>
<html>
	<head>
		<title>Password changed!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Password has been changed!</h1>
			<h3>Your new password is: <span class="white">********</span></h3>
		</div>
	</body>
</html>