<!DOCTYPE html>
<html>
	<head>
		<title>Password changed!</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h5>Enter your email to have your password emailed to you.</h5>
			<form method="GET" action="/api/forgotpassword">
			    <input type="email" name="email" placeholder="Enter your email">
			    <button>Send password</button>
			</form>
		</div>
	</body>
</html>