<!DOCTYPE html>
<html>
	<head>
		<title> Register </title>
		<% include partials/style %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/register.js"></script>
	</head>
	<body>
		<% include partials/main_nav %>
		<form action="" method="POST" id="register">
			<label for="email">Email:</label>
			<input type="email" class="" id="email" name="email" placeholder="Enter email">
			<label for="name">Full Name:</label>
			<input type="text" class="" id="name" name="name" placeholder="Name">
			<label for="password1">Create password:</label>
			<input type="password" class="" id="password1" name="password" placeholder="Enter password">
			<label for="password2">Confirm password:</label>
			<input type="password" class="" id="password2" placeholder="Confirm password">
			<input type="submit">
		</form>
	</body>
</html>