<!DOCTYPE html>
<html>
    <head>
        <% include partials/style %>
        <link rel="stylesheet" href="/css/update_profile.css">

    </head>
    <body>

        <% include partials/main_nav %>

        <div class="container home">
            <h1>Account Settings</h1>
            <br>
            <br>
            <div class="row">
                <div class="six columns">
                    <h5>Change your name.</h5>
                    <form method="GET" action="/api/changename" id="form_name">
                        <input type="hidden" name="token" class="token" value="">
                        <input type="text" name="name" placeholder="New name" value="<%= student.name %>">
                        <button>Change name</button>
                    </form>
                </div>
                <div class="six columns">
                    <h5>Change your schedule.</h5>
                    <form method="POST" action="/api/changeschedule" id="form_schedule">
                        <input type="hidden" name="token" class="token" value="">
                        <div class="passfield">
                            <label class="">Enter new password:</label>
                            <input type="password" id="password1" class="" name="password" placeholder="New password">
                        </div>
                        <br>
                        <div class="passfield">
                            <label class="">Confirm password:</label>
                            <input type="password" id="password2" class="" placeholder="Confirm password">
                        </div>
                        <br>
                        <button>Change password</button>
                    </form>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="six columns">
                    <h5>Change your email.</h5>
                    <form method="GET" action="/api/changeemail" id="form_email">
                        <input type="hidden" name="token" class="token" value="">
                        <input type="email" name="email" placeholder="New email" value="<%= student.email %>">
                        <button>Change email</button>
                    </form>
                </div>
                <div class="six columns">
                    <h5>Change your password.</h5>
                    <form method="POST" action="/api/changepassword" id="form_password">
                        <input type="hidden" name="token" class="token" value="">
                        <div class="passfield">
                            <label class="">Enter new password:</label>
                            <input type="password" id="password1" class="" name="password" placeholder="New password">
                        </div>
                        <br>
                        <div class="passfield">
                            <label class="">Confirm password:</label>
                            <input type="password" id="password2" class="" placeholder="Confirm password">
                        </div>
                        <br>
                        <button>Change password</button>
                    </form>
                    
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var tokens = document.getElementsByClassName('token');
            for(var i = 0; i < tokens.length; i++) {
                tokens[i].value = sessionStorage.authToken || localStorage.authToken;
            }
         </script>
    </body>
</html>