<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
            <!-- <li class="navbar-item"><a class="navbar-link" href="/register">Register</a></li> -->
            <!-- <li class="navbar-item"><a class="navbar-link" href="/login">Login</a></li> -->
        </ul>
    </div>
</nav>

<div class="container">
</div>

</body>
</html>