<!DOCTYPE html>
<html>
	<head>
		<title>User not found.</title>
		<% include partials/minor %>
	</head>
	<body>
		<% include partials/main_nav %>
		<div class="container home">
			<h1>Like the mythical unicorn...</h1>
			<h3>an account for <span class="white"><%= email %></span> does not exist.</h3>
		</div>
	</body>
</html>