<!DOCTYPE html>
<html>
    <head>
    	<title>You exist!</title>
        <% include partials/minor %>
    </head>
    <body>
        <% include partials/main_nav %>
        <div class="container home">
            <h1>Hooray!</h1>
            <h2>Congrats, <%= student.name %>!<br> You exist!</h2>
            <h3><a class="button" href="/">Home</a></h3>
        </div>

    </body>
</html>