<!DOCTYPE html>
<html>
    <head>
    	<title>You exist!</title>
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/minor.css">
    </head>
    <body>

    <div class="container">
        <h1>Hooray!</h1>
        <h2>Congrats, <%= student.name %>!<br> You exist!</h2>
    </div>

    </body>
</html>