/* body{
    width: 100%;
	height: 100%;
	text-align: center;

}

input[type = text] {
	 background-color: #EAC67A;
	 margin-bottom: 20px;
	 color: #18121E;
	 border: #EAC67A;
} */

label {
    text-align: right;
}
 