body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #233237 ;
	background-size: cover;
	color: #984B43 ;
}

label {
	font-size: 1.4em;
	/* color: #984B43; */
}

a {
	text-decoration: underline;
	cursor: pointer;
}

.eagle-image {
	margin: 0 auto;
	display: block;
}

.address {
	position: absolute;
	/* bottom: 10px; */
}

.title {
	text-align: center;
	/* color: #984B43;  */
}

.label-body {
	font-size: 1.5rem;
}

 /* h1{
	color: #984B43;
}

 h6 {
	border-top-style: dotted;
	border-bottom-style: dotted ;
	border-right-style: solid ;
	border-left-style: solid ;
	border-color: #EAC67A transparent;
	color: #984B43;
}

 h5{
	 color: #984B43;
 } */
input::-webkit-input-placeholder {
color: #847c8c !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #847c8c !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #847c8c !important;  
}
 
input:-ms-input-placeholder {  
color: #847c8c !important;  
}

 input[type = email]{
	 background-color: #EAC67A;
	 color: #18121E;
	 border: #EAC67A;
 }
 

input[type = password]{
 background-color: #EAC67A;
 color: #18121E;
 border: #EAC67A;
}

input[type = submit], button{
  background-color: #18121E;
  color: #EAC67A;
  border-color: #EAC67A;
}
input[type = submit]:hover, button:hover{
  background-color: #EAC67A;
  color: #18121E;
  border-color: #EAC67A;
}


.white {
	color: #F3F3F3;
}
.yellow {
	color: #EAC67A;
}
.red {
	color: #984B43;
}
.darkblue {
	color: #233237;
}
.darkpurple {
	color: #18121E;
}